<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <div class="card-body">
                    <img src="\Images\MarkTech_editable_01_fondo-oscuro.png">
                </div>
            </div>
        </div>
    </div>
</div>